*{
    padding: 0%;
    margin: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
}
header{
    background: #0f172a;
    color:aliceblue;
    padding: 1rem;
    text-align: center;
    
}
nav{
    align-items: center;
    padding: 20px 10%;
    background: #0f172a;
    display: flex;
    color: #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    animation: fadeInDown 0.8s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav-link{
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: right;
    align-items: center;
    flex-direction: row;
    margin: 0 20px;
    position: relative;

}
.nav-link a{
    text-decoration: none;
    font-size: 20px;
    margin: 0 15px;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}
.nav-link a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #38bdf8;
    display: block;
    transition: 0.5s;
}
.nav-link a:hover{
    background: #333;
    border-radius: 5px;
    color: #1e3a8a;
}
.nav-link a:hover::after{
    width: 100%;
}
@keyframes fadeInDown{
     from{
    opacity: 0;
    transform: translateY(-20px);
}
to{
    opacity: 1;
    transform: translateY(0);
}
}
.logo{
    font-size: 26px;
    color: #38bdf8;
    font-weight: bolder;
    font-style: italic;
    transform: all 0.5s cubic-beier(0.4, 0, 0.2, 1);

}
.logo:hover{
    transition: transform 0.4s ease-in-out;
    display: inline-block;
}
.logo:hover{
    transform: translateX(20px);
    filter: drop-shadow(0 0 10px #0196ff80);
    cursor: pointer;
}
section{
    padding: 20px;
    margin: auto;
    position: 0;
}
.service-card{
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    background: #38bdf8 !important;
}
footer{
    background: #0f2862;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}
.hero{
    min-height: 93.5vh;
    width: 100%;
    background: linear-gradient(rgba(15, 23, 42, 0.8),(15, 23, 42, 0.8)),url('./images/jpg.1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
    overflow: hidden;   
}
.hero-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.4);
}
.hero-content{
    text-align: center;
    animation: fadeInUp 1.2s ease-out;
    z-index: 1;
}
.hero h1{
    font-size: clamp(2.5rem,5vw,4rem);
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 1.1;
}
.hero p{
    font-size: 1.2rem;
    margin-bottom: 35px;
    color: #cbd5e1;    
}
.btn-primary, .btn-secondary{
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}
.hero-btn{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn-primary{
    border: 2px solid white;
    color: white;
}
.btn-secondary{
    border: 2px solid white;
    color:white;
}
.btn-secondary:hover{
    background: #1e3a8a;
    color: #0f172a;
    transform: translateY(-3px);
}
.btn-primary:hover{
    background: #1e3a8a;
    color: #0f172a;
    transform: translateY(-3px);
}
@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.hero-content h1{
    font-size: 3rem;
    margin-bottom: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: 0;
}
.service-container{
    display: flex ;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: center;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding:40px 20px;
    margin-top: 0;
    width: 100%;
}
.service-section{
    width: 100%;
    padding: 60px 0;
    margin-top: 0;
    display: block;
    background-color: #006cf876 !important;
    clear: both;
    position: relative;
    margin-top: 0;
    z-index: 10;
    background: linear-gradient(circle at top right, #ffffff, #f1f1f1);
   
}
.section-title{
    font-size: 2.2rem;
    margin-bottom: 50px;
    font-weight: 800;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.service-section{
    padding: 80px 5%;
    background-color: #fcfcfc;
    text-align: center;
    display: grid;
}
.service-card{
    background: #ffffff;
    width: 320px;
    padding: 25px;
    min-height: 480px;
    border: 1px solid #0f2862;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
    border-bottom: 4px solid #38bdf8;
    display: flex;
    flex-direction: column;
}
.service-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgb(0, 0, 0, 0.15);
}
.image-zoom-box{
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 15px;
}
.image-zoom-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}
.service-card:hover
.image-zoom-box img
{
    transform: scale(1.15);
}
.service-card h3{
    margin: 15px 0;
    color: #1a1a1a;
}
.service-card p{
    font-size: 0.9rem;
    color: #666;
    line-height: 1.5;
    flex-grow: 1;
}
.specs{
    list-style: none;
    padding: 15px 0 0 0;
    margin-top: 15px;
    border-top: 1px dashed #ddd;
    text-align: left;
}
.specs li strong{
    color: #000;
}
.specs li.price{
    color: #38bdf8;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}
.service-icon{
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    font-weight: bold;
    background-color: #38bdf8;
}
.section-title::after{
    content: '';
    display: block;
    width: 600px;
    height: 4px;
    background: #38bdf8;
    margin: 15px auto;
    border-radius: 2px;
}
.service-card{
    border: 1px solid;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.4 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
}
.service-card:hover{
    border-color: #0d7aa9;
    transform: translateY(-12px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
.service-icon{
    font-size: 2.5rem;
    margin-bottom: 10px;
    transition: transform 0.4s ease;
}
.service-card:hover .service-icon{
    transform: scale(1.2);
    color: #0d7aa9;
}

*{
    padding: 0;
    margin: 0;
   box-sizing: border-box;
}
html,body{
    width: 100%;
}
.price-table-section{
    padding: 60px 20px;
    width: 100%;
    background: #2f6fae;
}
.table-container{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px ;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}
.technical-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.technical-table thead{
    background: #284cb0 ;
    color: white;
}
.technical-table, .technical-table td{
    padding: 15px;
    text-align: center;
    border: 1px solid #eee;
}
.technical-table tbody tr:nth-child(even){
    background: #3a67e4 ;
}
.technical-table td strong{
    color: solid black ;
    font-size: 1.1rem;
}
.table-notes {
    margin-top: 20px;
    padding: 15px;
    background: #fff8e1;
    border-left: 5px solid #0d7aa9;
    font-size: 1.5rem ;
    color: solid black;
    text-align: left;
    gap:2px;
}
.title{
    font-size: 2.2rem;
    margin-bottom: 50px;
    font-weight: 800;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}
.inquiry-form-section{
    padding: 80px 20px;
    background-color: #0e65bc;
}
.form-container{
    max-width: 850px;
    margin: 0 auto;
    background: #0e65bc;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #17dcd5;
}
.form-title{
    font-size: 2rem;
    color: #0f127a;
    margin-bottom: 10px;
    text-align: center;
}
.form-container p{
    text-align: center;
    color: #64748b;
    margin-bottom: 30px;
}
.input-group{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
.slot-box{
    flex: 1;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.slot-box.full-width{
    flex: 1 1 100%;
}
.slot-box label{
    font-weight: 600;
    color: #334155;
    font-size: 1rem;
}
.slot-box input,
.slot-box select,
.slot-box textarea{
    padding: 12px 15px;
    border: 1.6px solid #e2e8f0;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}
.slot-box textarea{
    height: 120px;
    resize: vertical;
}
.slot-box input:focus,
.slot-box select:focus,
.slot-box textarea:focus{
    border-color: #38bdf8;
    box-shadow: 0 0 0 4px rgba(56, 189, 248, 0.1);
}
.submit-btn{
    width: 100%;
    padding: 15px;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.submit-btn:hover{
    background-color: #128c7e;
    transform: translateY(-2px);
}
@media(max-width: 600px){
    .form-container{
        padding: 20px;
    }
    .input-group{
        gap: 15px;
    }
}
@keyframes slideInUp {
    from{
    opacity: 0;
    transform: translateY(30px);
}
to{
    opacity: 1;
    transform: translateY(0);
}
}
.form-container{
    animation: slideInUp 1s ease-out;
}
@keyframes inputPulse {
    0%{
        box-shadow: 0 0 0 0px rgba(56, 189, 248, 0.4);
    }
    70%{
        box-shadow: 0 0 0 10px rgba(56, 189, 248, 0);
    }
    100%{
        box-shadow: 0 0 0 0px rgba(56, 189, 248, 0);
    }
}
.slot-box input:focus,
.slot-box select:focus,
.slot-box textarea:focus{
    border-color: black;
    animation: inputPulse 0.4s;
}
.about-section{
    padding: 80px 10%;
    background-color: #419af3;
    text-align: left;
}
.about-header{
    font-size: 2.5rem;
    color: #0f172a;
    margin-bottom: 20px;
    text-align: left;
}
.about-header h2::after{
    margin: 15px 0;
    width: 700px;
}
.about-lead{
    font-size: 1.2rem;
    color: #475569;
    max-width: 800px;
    line-height: 1.6;
    margin-bottom: 40px;
}
.process-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.process-item{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.process-number{
    background-color: #e11d48;
    color:white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-shrink: 0;
    margin-top: 5px;
}
.process-text h3{
    font-size: 1.4rem;
    color: #0f127a;
    margin-bottom: 8px;
}
.process-text p{
    color: #64748b;
    font-size: 1.1rem;
    line-height: 1.5;
}
.why-choose-section{
    background-color: #1e3a8a;
    color:white;
    padding: 80px 10%;
    text-align: center; 
}
.why-title{
    font-size: 2.2rem;
    margin-bottom: 15px;
}
.why-subtitle{
    color: #cbd5e1;
    max-width: 700px;
    margin: 0 auto 50px auto;
    line-height:1.6;
}
.why-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px,1fr));
    gap: 20px;
    margin-bottom: 40px;
}
.why-card{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.why-card:hover{
    transform: translateY(-5);
    background-color: rgba(255, 255, 255, 0.1);
}
.why-icon{
    font-size: 1.5rem ;
    color: #0d7aa9;
    margin-bottom: 15px;
    background-color: rgba(239, 68, 68, 0.1);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.why-card h3{
    font-size: 1.3rem;
    margin-bottom: 12px;
}
.why-card p{
    color: #94a3b8;
    font-size: 0.95rem;
    line-height: 1.5;
}
.floating-contact{
    position: fixed;
    bottom: 30px;
    right:30;
    flex-direction: column;
    gap: 50px;
    z-index: 9999;
}
.floating-icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.floating-icon:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}
.whatsapp{
    background-color: #25D366;
    color: white;
}
.email{
    background-color: #0f127a;
    color: white;
}
.select{
    background:#0e65bc;
}